html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline;
     font-family:Arial !important;
}
	html
{
	line-height:1
}
	ol,ul
{
	list-style:none
}
	table
{
	border-collapse:collapse;
	border-spacing:0
}
	caption,th,td
{

	font-weight:normal;
	vertical-align:middle;
}
	q,blockquote
{
	quotes:none
}
	q:before,q:after,blockquote:before,blockquote:after
{
	content:"";
	content:none
}
	a img
{
	border:none
}
	article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary
{
	display:block
}
	html
{
	min-height:100%
}
	body
{
	font:normal 13px/120% Helvetica,Arial,"Open Sans",sans-serif;
	position:relative;
	min-height:100%;
	webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
	@media (max-width: 1020px)
{
	body
{
	font:normal 12px/120% Helvetica,Arial,"Open Sans",sans-serif;
	font-weight:400
}

}
	body div.overlay
{
	display:none
}
	body.js-images-loading
{
	overflow:hidden
}
	body.page
{
	background-color:#D8DFD2;
}
	h1,h2,h3
{
	font-weight:400
}
	strong
{
	font-weight:700
}
	a
{
	cursor:pointer;
	outline:none;
	text-decoration:none
}
	a:hover
{
	color:#438eb1
}
.inline-block
{
	display:inline-block;
	*zoom:1;
	*display:inline
}
.wrapper
{
	margin:0 auto;
	width:100%;
	min-height:350px;
	vertical-align:top;
	padding:0 10px 20px;
}
	@media (max-width: 1020px)
{
.wrapper
{
	min-width:100%
}

}
.alignnone
{
	margin:5px 14px 14px 0
}
.aligncenter,div.aligncenter
{
	display:block;
	margin:5px auto 5px auto
}
.alignright
{
	float:right;
	margin:5px 0 14px 14px
}
.alignleft
{
	float:left;
	margin:5px 14px 14px 0
}
.aligncenter
{
	display:block;
	margin:5px auto 5px auto
}
	a img.alignright
{
	float:right;
	margin:5px 0 14px 14px
}
	a img.alignnone
{
	margin:5px 14px 14px 0
}
	a img.alignleft
{
	float:left;
	margin:5px 14px 14px 0
}
	a img.aligncenter
{
	display:block;
	margin-left:auto;
	margin-right:auto
}
.wp-caption
{
	background:#fff;
	border:1px solid #f0f0f0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center
}
.wp-caption.alignnone
{
	margin:5px 14px 14px 0
}
.wp-caption.alignleft
{
	margin:5px 14px 14px 0
}
.wp-caption.alignright
{
	margin:5px 0 14px 14px
}
.wp-caption img
{
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto
}
.wp-caption p.wp-caption-text
{
	font-size:11px;
	line-height:14px;
	margin:0;
	padding:0 4px 5px
}
.left
{
	float:left
}
.right
{
	float:right
}
.center
{
	margin:0 auto;
	text-align:center
}
.middle
{
	display:table;
	height:100%
}
.middle .middle-inner
{
	display:table-cell;
	vertical-align:bottom;
	
	padding-bottom:20px;
	
}
.screen-reader-text
{
	clip:rect(1px, 1px, 1px, 1px);
	height:1px;
	overflow:hidden;
	position:absolute !important;
	width:1px
}
.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus
{
	background-color:#f1f1f1;
	border-radius:3px;
	box-shadow:0 0 2px 2px rgba(0,0,0,0.6);
	clip:auto !important;
	color:#21759b;
	display:block;
	font-size:14px;
	font-weight:bold;
	height:auto;
	left:5px;
	line-height:normal;
	padding:15px 23px 14px;
	text-decoration:none;
	top:5px;
	width:auto;
	z-index:100000
}
.sep
{
	width:10%;
	border-top:1px dotted #fff;
	display:block;
	margin:5px auto
}
.box
{
	-moz-transition:all 0.75s;
	-o-transition:all 0.75s;
	-webkit-transition:all 0.75s;
	transition:all 0.75s;
	margin:0 0 1px;
	background:#FFF;
	padding:0;
	overflow:hidden;
	position:relative;
	color:#fff
}
.preloader
{
	-moz-transition:all 0.75s;
	-o-transition:all 0.75s;
	-webkit-transition:all 0.75s;
	transition:all 0.75s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	width:100%;
	height:1px;
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	z-index:10000;
	display:none
}
.preloader.load
{
	filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
	display:block
}
.preloader span
{
	-moz-transition:all 0.75s;
	-o-transition:all 0.75s;
	-webkit-transition:all 0.75s;
	transition:all 0.75s;
	height:1px;
	display:block;
	width:1px;
	background:#000
}
/*.row
{
	display:block;
	width:103.0303%;
	margin:0 -1.53333%
}
.row:after
{
	content:"";
	display:table;
	clear:both
}*/
.span-1
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:5.30303%
}
.span-2
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:13.63636%
}
.span-25
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:17.80303%
}
.span-3
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:21.9697%
}
.span-4
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:30.30303%
}
.span-45
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:34.4697%
}
.span-5
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:38.63636%
}
.span-6
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:46.9697%
}
.span-7
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:55.30303%
}
.span-8
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:63.63636%
}
.span-9
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:71.9697%
}
.span-10
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:80.30303%
}
.span-11
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:88.63636%
}
.span-12
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:96.9697%
}
	header
{
	z-index:110;
	background:#FFF;
	min-width:1024px;
	text-align:center;

	height:103px;
	line-height:103px;
	top:0;
	left:0;
	width:100%;

}
	@media (max-width: 1020px)
{
	header
{
	position:absolute;
	top:-85px
}

}
	@media (max-width: 1020px)
{
	header
{
	min-width:100%
}

}
	header.open
{
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.1);
	box-shadow:0 0 3px rgba(0,0,0,0.1)
}
.js-images-loading header.open
{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none
}
	header .logo
{
	/*display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
	vertical-align:middle;
	padding:27px 0 0;
	position:absolute;
	overflow:visible;
	margin:0 auto;
	width:100%;
	left:0;
	bottom:10px;
	height:56px*/
}
.home header .logo
{
	-moz-transition:all 2s ease-in-out;
	-o-transition:all 2s ease-in-out;
	-webkit-transition:all 2s ease-in-out;
	transition:all 2s ease-in-out
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	header .logo
{
	bottom:0px
}

}
	header .logo i
{
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
	overflow:hidden;
	text-align:center;
	font-size:54px
}
.home header .logo i
{
	-moz-transition:all 2s ease-in-out;
	-o-transition:all 2s ease-in-out;
	-webkit-transition:all 2s ease-in-out;
	transition:all 2s ease-in-out
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	header .logo i
{
	font-size:50px
}

}
	header .logo i.first-load,header .logo span.first-load
{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0
}
	header .logo span.first-load.pulsate
{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity:0.2;
	-webkit-animation:pulsate 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
	-moz-animation:pulsate 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
	-o-animation:pulsate 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
	animation:pulsate 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
}
	header .logo a
{
	text-align:center;
	margin:0 auto;
	display:block;
	color:#000
}
	header .logo span
{
	-moz-transition:all 2s ease-in-out;
	-o-transition:all 2s ease-in-out;
	-webkit-transition:all 2s ease-in-out;
	transition:all 2s ease-in-out;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
	filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
	overflow:hidden;
	display:none;
	position:absolute;
	background:#fff;
	width:40px;
	top:0;
	left:50%;
	margin-left:-20px
}
	header .meta-nav
{

	text-align:right;
	width:100%;
	font-size:11px;
	height: 67px;
	
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	header .meta-nav
{
	right:0;
	width:100%;
	text-align:center
}

}
	header .meta-nav.hide
{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	top:-10px
}
	header .meta-nav.loaded
{
	filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
	top:1px
}
	header .meta-nav ul
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	margin:0;
	padding:0;
	list-style:none;


}
	header .meta-nav ul li
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	  height: 29px;
  line-height: 28px;
  width:151px;
    text-align: center;
	border:1px solid #000;
}
	header .meta-nav ul li a{
	text-decoration:none !important;
	}
	@media (max-width: 1020px)
{
	header .meta-nav ul li
{
	padding:10px 5px 0 0
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	header .meta-nav ul li
{
	padding:4px 0 0 5px
}

}
	header .meta-nav a
{
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
	color:#000;
	border-bottom:1px solid transparent
}
	header .meta-nav a:hover
{
	
}
	header .meta-nav .copyright
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	padding:10px 10px 0 0
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	header .meta-nav .copyright
{
	padding:4px 0 0 0
}

}
.home .js-load
{
	visibility:hidden;
	display:none
}
.js-images-loading .js-load,.js-load.onanimate
{
	-moz-transition:all 2s cubic-bezier(0.52, 0.01, 0.35, 1);
	-o-transition:all 2s cubic-bezier(0.52, 0.01, 0.35, 1);
	-webkit-transition:all 2s cubic-bezier(0.52, 0.01, 0.35, 1);
	transition:all 2s cubic-bezier(0.52, 0.01, 0.35, 1)
}
	header.onanimate,footer.onanimate
{
	z-index:1010;
	-moz-transition:all 2s cubic-bezier(0.52, 0.01, 0.35, 1);
	-o-transition:all 2s cubic-bezier(0.52, 0.01, 0.35, 1);
	-webkit-transition:all 2s cubic-bezier(0.52, 0.01, 0.35, 1);
	transition:all 2s cubic-bezier(0.52, 0.01, 0.35, 1)
}
	header.onanimate .logo,footer.onanimate .logo
{
	height:34px;
	bottom:1px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	header.onanimate .logo,footer.onanimate .logo
{
	height:30px
}

}
	header.onanimate .logo span,footer.onanimate .logo span
{
	padding:2px 0 0;
	display:block
}
	header.onanimate .logo span:before,footer.onanimate .logo span:before
{
	content:'\e607';
	text-align:center;
	font-size:54px;
	color:#000;
	margin-left:-100px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	header.onanimate .logo span:before,footer.onanimate .logo span:before
{
	font-size:50px;
	margin-left:-91px
}

}
	footer.onanimate
{
	z-index:1000
}
	header.first-load,footer.first-load
{
	height:5000px;
	-moz-transition:all 0s cubic-bezier(0.52, 0.01, 0.35, 1);
	-o-transition:all 0s cubic-bezier(0.52, 0.01, 0.35, 1);
	-webkit-transition:all 0s cubic-bezier(0.52, 0.01, 0.35, 1);
	transition:all 0s cubic-bezier(0.52, 0.01, 0.35, 1)
}
	#page
{
	position:relative;
	max-width:100%;
	width:100%
}
	#main
{
	position:relative;
	clear:both;
	width:100%;
	margin:66px 0 60px;
	min-width:1024px
}
	@media (max-width: 1020px)
{
	#main
{
	min-width:100%;
	min-height:100%
}

}
.object-pager
{
	position:absolute;
	z-index:100;
	height:100%;
	top:7%;
	width:100px;
	margin-left:80px;
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-pager
{
	height:auto;
	width:100%;
	bottom:0;
	text-align:center
}

}
.object-pager a
{
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	display:block;
	height:11px;
	width:11px;
	margin:5px 20px;
	border:2px solid #fff;
	background:transparent
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-pager a
{
	margin:20px 4px
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-pager li
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline
}

}
.object-pager .activeSlide a
{
	background:#fff
}
.slideshow
{
	position:relative;
	overflow:hidden;
	height:600px;
	line-height:600px
}
.js-images-loading .slideshow
{
	visibility:hidden
}
.slideshow.slideshow-home:after
{
	content:'';
	background:rgba(0,0,0,0.1);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	width:100%
}
.slideshow .slide
{
	min-width:1024px;
	z-index:10;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	height:600px;
	width:100%;
	line-height:600px;
	position:relative
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.slideshow .slide
{
	min-width:0;
	width:100% !important
}

}
.slideshow .content
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:bottom;
	zoom:1;
	*display:inline;
	vertical-align:bottom;
	text-align:left;
	line-height:1.2;
	padding:0 0 50px 100px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.slideshow .content
{
	padding:0 0 0 20px
}

}
.slideshow a,.slideshow hgroup
{
	color:#2C2C2C;
}
.slideshow a
{
/*	height:100%;
	width:100%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:100*/
}
.slideshow .title,.slideshow .subtitle
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	color:#2C2C2C;
	text-shadow:1px 1px 4px rgba(0,0,0,0.4);
	position:relative;
	padding-right:15px;
	text-transform:lowercase;
	line-height:1;
	letter-spacing:-1px
}
.slideshow .title:after,.slideshow .subtitle:after
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	
}
.slideshow .clear
{
	clear:both;
	display:block
}
.slideshow .title
{
	font-size:32px;
	margin-bottom:5px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.slideshow .title
{
	font-size:28px
}

}
.slideshow .subtitle
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	font-size:28px;
	padding-bottom:0;
	font-weight:100;
	margin-bottom:0;
	padding-right:10px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.slideshow .subtitle
{
	font-size:24px
}

}
	#content .span-6
{
	width:50%;
	margin:0;
	overflow:hidden
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	#content .span-6
{
	width:100%;
	height:auto !important
}
	#content .span-6.background
{
	height:460px !important
}

}
	#content .article .content
{
	padding:100px
}
	#content .article .content p
{
	color:#fff
}
#footer{
	
	min-width:1024px;
	width:100%;
	height:35px;
	line-height:35px;
	background:#00488c;
	
}


	@media (max-width: 1020px)
{
	footer
{
	min-width:100%
}

}
	footer.nav-open
{
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	min-height:108px
}
	footer.nav-open .current-menu-ancestor .inner
{
	display:block
}
	footer.nav-open .current-menu-ancestor .inner .sub-menu
{
	display:block
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	footer.nav-open
{
	min-height:107px
}
.archive footer.nav-open
{
	min-height:0
}

}
	footer.open
{
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.1);
	box-shadow:0 0 3px rgba(0,0,0,0.1)
}
.js-images-loading footer.open
{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none
}
	footer div.inner
{
	width:100%;
	background:#000;
	display:none;
	position:absolute;
	top:100%;
	left:0;
	text-align:center;
	padding:10px 0
}
	footer #menu-item-271 .sub-menu li
{
	display:block;
	width:110px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	footer #menu-item-271 .sub-menu li
{
	width:70px
}

}
	footer #menu-item-271 .sub-menu li a
{
	white-space:nowrap
}
	footer .sub-menu
{
	display:none;
	width:600px;
	margin:0 auto
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	footer .sub-menu
{
	width:100%
}

}
	footer .sub-menu #menu-item-157,footer .sub-menu #menu-item-158
{
	width:140px
}
	footer .sub-menu #menu-item-161,footer .sub-menu #menu-item-162
{
	width:90px
}
	footer .sub-menu li
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	float:none !important;
	margin:0 auto;
	width:170px;
	text-align:left;
	position:relative
}
	footer .sub-menu li:before
{
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	width:6px;
	height:6px;
	border:1px solid #fff;
	content:'';
	position:absolute;
	left:6px;
	top:4px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	footer .sub-menu li:before
{
	left:-2px
}

}
	footer .sub-menu li.current-menu-item:before
{
	background:#fff
}
	footer .sub-menu li.current-menu-item a
{
	font-weight:bold
}
	footer .sub-menu li a
{
	color:#fff !important;
	font-size:12px !important;
	line-height:1
}
	footer .sub-menu li a:hover
{
	text-decoration:underline
}
	footer .sub-menu li a:after
{
	content:''
}
	footer .menu
{

	vertical-align:top;

	
}
.js-images-loading footer .menu
{
	visibility:hidden
}
	footer li
{
	padding:0 10px 0 0;
	color:#FFF;
	text-decoration:none;
	font-size:11px;
	line-height:32px;
	font-weight:400;float:right;
	margin:0px;
}
	footer li.current-menu-item a
{
	color:#000
}
	footer li.current-menu-item div.inner
{
	display:block
}
	footer li.current-menu-item div.inner .sub-menu
{
	display:block
}
	footer li a
{
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	footer li a
{
	font-size:14px;
	padding:0 10px
}

}

	footer li a:hover
{
	color:#000
}
	footer #main-nav
{
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);


	text-align:left;


	padding-left:30px;
}
	footer #main-nav.hide
{
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
	opacity:0;
	top:-1px
}
	footer.open #main-nav
{
	filter:progid:DXImageTransform.Microsoft.Alpha(enabled=true);
	opacity:1
}
.fixheight .image
{
	background:#fff;
	text-align:center
}
.fixheight .image img
{
	max-height:100%;
	width:auto
}
.fixheight .content
{
	padding:0 10%
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.fixheight .content
{
	padding:10%;
	height:auto !important
}

}
	@-webkit-keyframes pulsate
{
	0%, 100%
{
	opacity:0.1
}
	50%
{
	opacity:1.0
}

}
	@-moz-keyframes pulsate
{
	0%, 100%
{
	opacity:0.1
}
	50%
{
	opacity:1.0
}

}
	@-o-keyframes pulsate
{
	0%, 100%
{
	opacity:0.1
}
	50%
{
	opacity:1.0
}

}
	@keyframes pulsate
{
	0%, 100%
{
	opacity:0.1
}
	50%
{
	opacity:1.0
}

}
.buttons
{
	text-align:center
}
.buttons a
{
	display:inline-block;
	width:102px;
	height:45px;
	text-indent:-99999px
}
	input[type="radio"],input[type="checkbox"]
{
	margin:4px 0 0;
	margin-top:1px \9;
	line-height:normal
}
	input[type="file"]
{
	display:block
}
	input[type="range"]
{
	display:block;
	width:100%
}
	select[multiple],select[size]
{
	height:auto
}
.btn
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	position:relative;
	z-index:1;
	line-height:46px;
	height:48px;
	width:auto;
	font-size:16px;
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	background:transparent
}
.btn a,.btn .btn-inner
{
	overflow:hidden;
	display:block;
	color:#fff
}
.btn a span,.btn .btn-inner span
{
	-webkit-transition:-webkit-transform 0.2s;
	-moz-transition:-moz-transform 0.2s;
	-o-transition:-o-transform 0.2s;
	-ms-transition:-ms-transform 0.2s;
	transition:transform 0.2s;
	display:block;
	padding:0 25px
}
.btn a:before,.btn .btn-inner:before
{
	-moz-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	height:100%;
	content:attr(data-hover);
	-webkit-transition:-webkit-transform 0.2s;
	-moz-transition:-moz-transform 0.2s;
	-o-transition:-o-transform 0.2s;
	-ms-transition:-ms-transform 0.2s;
	transition:transform 0.2s;
	padding:0px 0
}
.btn a.animate:hover:focus,.btn a.animate:hover:before,.btn .btn-inner.animate:hover:focus,.btn .btn-inner.animate:hover:before
{
	-moz-transform:translateX(0%);
	-ms-transform:translateX(0%);
	-webkit-transform:translateX(0%);
	transform:translateX(0%)
}
.btn a.animate:hover:before,.btn .btn-inner.animate:hover:before
{
	background:#fff;
	color:#000;
	z-index:10;
	border:none
}
.btn a.animate:hover span,.btn .btn-inner.animate:hover span
{
	-moz-transform:translateX(100%);
	-ms-transform:translateX(100%);
	-webkit-transform:translateX(100%);
	transform:translateX(100%)
}
.btn.btn-border
{
	border:2px solid
}
.btn.btn-white
{
	border-color:#fff
}
.btn.btn-arrow,.btn.sold
{
	border:1px solid #fff;
	color:#000;
	background:#fff;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	letter-spacing:1px
}
.btn.btn-arrow span,.btn.sold span
{
	float:left
}
.btn.btn-arrow a,.btn.sold a
{
	color:#000;
	font-weight:bold
}
.btn.btn-arrow a:before,.btn.sold a:before
{
	padding:0 25px
}
.btn.btn-arrow i,.btn.sold i
{
	float:right;
	height:28px;
	width:28px;
	line-height:32px;
	background:#000;
	color:#fff;
	text-align:center;
	font-size:20px;
	position:relative;
	z-index:100
}
	form
{
	padding:0;
	font-size:13px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	form .row
{
	width:100%;
	margin:0
}

}
	form li
{
	margin-bottom:10px !important;
	text-align:left
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	form li
{
	width:100% !important;
	display:block !important;
	float:none !important;
	margin:0 0 10px !important
}

}
	form li input[type="email"],form li input[type="phone"],form li textarea
{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #000;
	width:100%;
	padding:7px 10px;
	font-size:14px;
	border:none
}
	form li select
{
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	width:100%;
	padding:5px;
	font-size:13px;
	border:none;
	height:30px
}
	form label
{
	line-height:18px
}
	form .address .object-label,form .address label
{
	width:25%;
	float:left;
	margin-left:0;
	line-height:36px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	form .address .object-label,form .address label
{
	width:100%;
	display:block;
	float:none;
	line-height:18px
}

}
	form .address .object-title,form .address input[type="text"]
{
	width:75%;
	float:left;
	margin-right:0
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	form .address .object-title,form .address input[type="text"]
{
	width:100%;
	display:block;
	float:none
}

}
	form .address .object-title,form .address .object-label
{
	line-height:36px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
	form .address .object-title,form .address .object-label
{
	width:auto;
	margin-right:5px;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline
}

}
	form .checkbox label
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline
}
	form .checkbox input
{
	margin-left:0;
	float:left
}
	form .buttons
{
	clear:both;
	margin-bottom:0;
	padding-top:10px;
	width:100%
}
	form .msg
{
	padding:15px 15px 13px;
	text-align:left;
	margin-bottom:20px
}
	form .msg p
{
	font-weight:bold;
	margin-bottom:5px
}
	form .msg ul
{
	list-style:square;
	margin-left:20px
}
	form .msg ul li
{
	margin-bottom:2px !important
}
	form .msg.error
{
	background:#FF9494
}
	form .msg.success
{
	text-align:center;
	font-size:120%;
	line-height:130%;
	color:#000;
	background:#C5E3BF
}
	h1,h2,h3,h4,h5,h6
{
	font:normal 30px/120% Helvetica,Arial,"Open Sans",sans-serif;
	margin:0 0 20px;
	text-transform:none
}
	h2
{
	font-size:30px
}
	h3
{
	font-size:16px
}
	h4
{
	font-size:1.1em
}
	h5,h6
{
	font-size:1em
}
	p
{
	font-size:12px;
	margin:0 0 20px 0;
	line-height:140%
}
	p strong
{
	font-weight:bold
}
.content
{
	padding-top:20px
}
.content ul
{
	
	line-height:180%
}
.content strong
{
	font-weight:bold
}
.content ul.features
{
	list-style:square;
	margin-left:20px
}
.entry-content a
{
	text-decoration:underline;
	color:#000;
	font-weight:bold
}
.entry-content a:hover
{
	text-decoration:none
}
.text-left,.a-left
{
	text-align:left
}
.text-right,.a-right
{
	text-align:right
}
.a-center,.text-center
{
	text-align:center
}
	@font-face
{
	font-family:'weber';
	src:url("../fonts/weber.eot");
	src:url("../fonts/weber.eot") format("embedded-opentype"),url("../fonts/weber.woff") format("woff"),url("../fonts/weber.ttf") format("truetype"),url("../fonts/weber.svg") format("svg");
	font-weight:normal;
	font-style:normal
}
.icon,header.onanimate .logo span:before,footer.onanimate .logo span:before,[class^="icon-"]:before,[class*=" icon-"]:before
{
	font-family:"weber";
	font-style:normal;
	font-weight:normal;
	speak:none;
	display:inline;
	text-decoration:inherit;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	line-height:1em
}
.icon-ww-logo:before
{
	content:"\e607"
}
.icon-cancel-circle:before
{
	content:"\e600"
}
.icon-checkmark-circle:before
{
	content:"\e601"
}
.icon-spam:before
{
	content:"\e602"
}
.icon-share:before
{
	content:"\e603"
}
.icon-googleplus:before
{
	content:"\e604"
}
.icon-facebook:before
{
	content:"\e605"
}
.icon-twitter:before
{
	content:"\e606"
}
.icon-ok:before
{
	content:"\e800"
}
.icon-newspaper:before
{
	content:"\e801"
}
.icon-mail-alt:before
{
	content:"\e802"
}
.icon-caret-down:before
{
	content:"\f0d7"
}
.icon-caret-up:before
{
	content:"\f0d8"
}
.icon-caret-left:before
{
	content:"\f0d9"
}
.icon-caret-right:before
{
	content:"\f0da"
}
.icon-angle-left:before
{
	content:"\f104"
}
.icon-angle-right:before
{
	content:"\f105"
}
.icon-angle-up:before
{
	content:"\f106"
}
.icon-angle-down:before
{
	content:"\f107"
}
.home #hero
{
	position:relative;
	overflow:hidden;
	width:100%;
	height:280px
}
.home #hero .hero-item
{
	overflow:hidden;
	width:100%;
	height:588px
}
.no-results
{
	text-align:center;
	padding-top:40px !important
}
.no-results h1
{
	font-size:18px
}
.no-results,.list
{
	width:100%;
	overflow:hidden;
	padding:0 0 103px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.no-results,.list
{
	padding:0 0 60px
}

}
.no-results .box,.list .box
{
	width:100%;
	min-width:1024px;
	margin-left:auto;
	margin-right:auto;
	min-height:190px
}
	@media (max-width: 1020px)
{
.no-results .box,.list .box
{
	min-width:100%
}

}
.no-results .wrapper,.list .wrapper
{
	position:relative;
	overflow:hidden
}
.no-results .entry-thumb,.list .entry-thumb
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:25.30303%;
	margin-left:0
}
	@media (max-width: 1020px)
{
.no-results .entry-thumb,.list .entry-thumb
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:46.9697%;
	margin-left:0
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.no-results .entry-thumb,.list .entry-thumb
{
	width:100%
}

}
.no-results .entry-thumb img,.list .entry-thumb img
{
	height:auto;
	display:block;
	max-width:100%;
	min-height:190px
}
	@media (max-width: 1020px)
{
.no-results .entry-thumb img,.list .entry-thumb img
{
	min-height:0;
	width:100%
}

}
.no-results .btn.sold,.list .btn.sold
{
	right:2%;
	bottom:30%;
	width:191px
}
.no-results .btn.sold span,.list .btn.sold span
{
	width:141px;
	text-align:center
}
.no-results .btn.sold a,.list .btn.sold a
{
	color:#fff;
	background:#000;
	cursor:auto
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.no-results .btn.sold,.list .btn.sold
{
	width:auto;
	right:0
}
.no-results .btn.sold span,.list .btn.sold span
{
	width:100%;
	padding:0
}

}
.no-results .entry-banner,.list .entry-banner
{
	display:block;
	width:103.0303%;
	margin:0 -1.53333%;
	padding-bottom:25px
}
.no-results .entry-banner:after,.list .entry-banner:after
{
	content:"";
	display:table;
	clear:both
}
.no-results .entry-banner h2,.list .entry-banner h2
{
	margin-bottom:5px
}
.no-results .entry-banner h2:after,.list .entry-banner h2:after
{
	content:'';
	display:none
}
.no-results .entry-banner p,.list .entry-banner p
{
	margin-bottom:0;
	font-size:12px;
	font-style:normal
}
	@media (max-width: 1020px)
{
.no-results .entry-banner p,.list .entry-banner p
{
	font-size:11px
}

}
.no-results .entry-banner .images,.list .entry-banner .images
{
	display:block;
	width:103.0303%;
	margin:0 -1.53333%
}
.no-results .entry-banner .images:after,.list .entry-banner .images:after
{
	content:"";
	display:table;
	clear:both
}
.no-results .entry-banner .images img,.list .entry-banner .images img
{
	float:left;
	width:24%;
	margin-right:1%;
	min-height:0
}
	@media (max-width: 1020px)
{
.no-results .entry-banner .images,.list .entry-banner .images
{
	width:100%;
	margin:0;
	padding:0
}

}
	@media (max-width: 1020px)
{
.no-results .entry-banner .span-2,.list .entry-banner .span-2
{
	margin:0;
	width:90%
}

}
.no-results .entry-banner .btn,.list .entry-banner .btn
{
	bottom:25px;
	width:160px
}
.no-results .entry-banner .btn.sold,.list .entry-banner .btn.sold
{
	right:16%;
	width:120px
}
.no-results .entry-banner .btn.sold a,.list .entry-banner .btn.sold a
{
	color:#fff;
	background:#000;
	cursor:auto
}
	@media (max-width: 1020px)
{
.no-results .entry-banner .btn,.list .entry-banner .btn
{
	width:100%;
	bottom:0;
	margin:20px 0 0 0
}

}
.no-results .entry-banner .logo img,.list .entry-banner .logo img
{
	max-width:162px;
	width:auto;
	float:right;
	min-height:0;
	margin-right:0
}
.no-results .entry-banner,.no-results .entry-content,.list .entry-banner,.list .entry-content
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:67.80303%;
	height:100%
}
	@media (max-width: 1020px)
{
.no-results .entry-banner,.no-results .entry-content,.list .entry-banner,.list .entry-content
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:46.9697%;
	height:auto !important
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.no-results .entry-banner,.no-results .entry-content,.list .entry-banner,.list .entry-content
{
	width:91%;
	padding:1% 4% 5% 5%;
	margin:0
}

}
	@media (max-width: 1020px)
{
.no-results .entry-banner .span-9,.no-results .entry-banner .span-12,.no-results .entry-content .span-9,.no-results .entry-content .span-12,.list .entry-banner .span-9,.list .entry-banner .span-12,.list .entry-content .span-9,.list .entry-content .span-12
{
	width:90%;
	margin:0
}
.no-results .entry-banner .span-9 p,.no-results .entry-banner .span-12 p,.no-results .entry-content .span-9 p,.no-results .entry-content .span-12 p,.list .entry-banner .span-9 p,.list .entry-banner .span-12 p,.list .entry-content .span-9 p,.list .entry-content .span-12 p
{
	font-size:12px
}
.no-results .entry-banner .span-9 .logo,.no-results .entry-banner .span-12 .logo,.no-results .entry-content .span-9 .logo,.no-results .entry-content .span-12 .logo,.list .entry-banner .span-9 .logo,.list .entry-banner .span-12 .logo,.list .entry-content .span-9 .logo,.list .entry-content .span-12 .logo
{
	display:none
}

}
	@media (max-width: 1020px)
{
.no-results .entry-banner .inner,.no-results .entry-content .inner,.list .entry-banner .inner,.list .entry-content .inner
{
	padding:0;
	height:auto !important
}

}
.no-results p,.no-results h2,.list p,.list h2
{
	margin-bottom:32px
}
.no-results h2,.list h2
{
	text-transform:lowercase;
	margin-top:36px;
	margin-bottom:16px;
	line-height:1.3;
	font-size:18px
}
.no-results h2 strong,.list h2 strong
{
	font-weight:normal
}
.no-results h2 span,.list h2 span
{
	font-size:22px;
	display:inline-block;
	width:100%;
	font-weight:100
}
.no-results h2 span:after,.list h2 span:after
{
	content:'.';
	display:inline-block;
	position:relative;
	right:7px
}
.no-results p,.list p
{
	font-size:12px;
	margin-bottom:0;
	margin-right:25%
}
	@media (max-width: 1020px)
{
.no-results p,.list p
{
	margin-right:0
}

}
.no-results .btn,.list .btn
{
	margin-top:20px;
	position:absolute;
	right:2%;
	bottom:10%;
	height:28px;
	line-height:30px
}
	@media (max-width: 1020px)
{
.no-results .btn,.list .btn
{
	display:none
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.no-results .btn,.list .btn
{
	display:block;
	position:relative;
	right:auto;
	margin:20px
}

}
.object-details
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:100%;
	margin:0;
}

.object-details .inner
{
	
}
	@media (max-width: 1020px)
{
.object-details
{
	width:100%;
	min-width:200px
}
.object-details .inner
{
	padding:20px
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-details
{
	width:100%
}

}
.object-details hgroup h1
{
	color:#fff;
	font-size:22px;
	position:relative;
	text-transform:lowercase;
	font-weight:100;
	margin-bottom:0;
	white-space:nowrap
}
.object-details hgroup h1:after
{
	content:'.';
	display:inline-block
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-details hgroup h1
{
	font-size:16px
}

}
.object-details hgroup h2
{
	text-transform:lowercase;
	font-size:28px;
	color:#fff;
	margin-bottom:20px;
	white-space:nowrap
}
.object-details hgroup h2:after
{
	content:'.';
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-details hgroup h2
{
	font-size:20px
}

}
.object-details dl.object-options
{
	color:#353535;
	width:100%;
	margin-bottom:30px;
	font-size:13px;
	font-weight:100
}
	@media (max-width: 1020px)
{
.object-details dl.object-options
{
	margin-bottom:20px
}

}
.object-details dl.object-options dt
{
	float:left;
	width:38%;
	margin-bottom:6px
}
.object-details dl.object-options dt.large
{
	width:160px;
	margin-bottom:20px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-details dl.object-options dt.large
{
	width:auto
}

}
.object-details dl.object-options dt.uc
{
	text-transform:none
}
.object-details dl.object-options dd
{
	margin-bottom:6px;
	width:50%;
	float:left;

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-details dl.object-options dd
{
	min-width:0
}

}
.object-details dl.object-options dd.large
{
	margin-bottom:20px
}
.object-details dl.object-options strong
{
	font-weight:bold
}
.object-details .price-box
{
	font-size:22px;
	color:#fff
}
.object-details .btn-container
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline
}
.object-details .btn
{
	height:28px;
	line-height:30px
}
.object
{
	height:100%;
}
.object .box
{
	overflow:visible;
	float:left;
	width:100%
}
.object .box .wrapper
{
	max-width:1400px
}
.object .read-more
{
	text-decoration:none;
	display:block;
	line-height:26px;
	font-size:12px;
	margin-bottom:20px
}
.object .read-more i
{
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	background:#000;
	width:24px;
	height:24px;
	text-align:center;
	display:block;
	line-height:26px;
	color:#fff;
	float:left;
	margin-right:5px
}
.object .read-more .less
{
	display:none
}
.object .object-content
{
	clear:both;

	overflow:hidden
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object .object-content
{
	padding:10px 20px 80px
}

}
.object .object-content .content
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:63.63636%;
	margin:0
}
	@media (max-width: 1020px)
{
.object .object-content .content
{
	width:60%;
	padding:0 40px;
	float:none;
	display:block
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object .object-content .content
{
	width:100%;
	padding:0
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object .object-content .content ul li
{
	margin-bottom:5px
}
.object .object-content .content ul strong
{
	display:block
}

}
.object .object-content h3
{
	text-transform:capitalize;
	position:relative;
	font-weight:600;

}
.object .object-content h3:after
{
	
	position:absolute;
	display:inline-block
}
.object-slider
{
	display:inline;
	float:right;
	margin:0 1.51515%;
	width:47.63636%;
	margin:0;

}
	@media (max-width: 1020px)
{
.object-slider
{
	width:60%;
	margin:0
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-slider
{
	width:100%
}

}
.object-slider .slide-image
{
	width:100% !important;
	height:100% !important;
	overflow:hidden
}
.object-slider .slideshow
{
	max-height:604px;
	height:520px;
	line-height:520px;
	text-align:center;
	margin-bottom:10px
}
.object-slider .slideshow img
{
	margin:0 auto;
	height:auto;
	width:100%
}
	@media (max-width: 1020px)
{
.object-slider .slideshow img
{
	max-width:none;
	height:auto;
	width:100%
}

}
.object-slider .object-thumbnails
{
	display:block;
	width:103.0303%;
	margin:0 -1.53333%;
	clear:both;
	bottom:0;
	z-index:1;
	margin-left:0
}
.object-slider .object-thumbnails:after
{
	content:"";
	display:table;
	clear:both
}
	@media (max-width: 1200px)
{
.object-slider .object-thumbnails
{
	margin:0;
	width:100%
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-slider .object-thumbnails
{
	text-align:center
}

}
.object-slider .object-thumbnails li
{
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-webkit-transition:all 0.25s;
	transition:all 0.25s;
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:6.9697%;
	border:2px solid transparent;
	opacity:0.7;
	margin-bottom:1.51515%;
	line-height:65px;
	text-align:center;
	margin-left:0
}
	@media (max-width: 1020px)
{
.object-slider .object-thumbnails li
{
	width:52px;
	height:52px;
	margin-right:0
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.object-slider .object-thumbnails li
{
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	float:none
}

}
	@media (max-width: 1200px)
{
.object-slider .object-thumbnails li
{
	margin-right:0;
	margin-left:1.51515%
}

}
.object-slider .object-thumbnails li img
{
	margin:0 auto;
	max-height:100%;
	max-width:100%;
	height:auto;
	width:auto;
	vertical-align:middle;
	display:block
}
.object-slider .object-thumbnails li:last-child
{
	margin-right:0
}
.object-slider .object-thumbnails li:hover
{
	opacity:1;
	border-color:#fff
}
.object-slider .object-thumbnails li.activeSlide
{
	opacity:1;
	border-color:#000;
}
.about .image.background
{
	position:relative;
	background-position:center top;
	width:100%;
	-moz-background-size:80%;
	-o-background-size:80%;
	-webkit-background-size:80%;
	background-size:80%;
	background-repeat:no-repeat
}
	@media (min-height: 790px)
{
.about .image.background
{
	background-position:center 40%;
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover
}

}
	@media (min-height: 890px)
{
.about .image.background
{
	background-position:center 100%;
	-moz-background-size:70%;
	-o-background-size:70%;
	-webkit-background-size:70%;
	background-size:70%
}

}
	@media (min-height: 960px)
{
.about .image.background
{
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover
}

}
	@media (max-height: 590px)
{
.about .image.background
{
	background-position:center top
}

}
	@media (min-width: 1900px) and (min-height: 890px)
{
.about .image.background
{
	background-position:center top
}

}
	@media (min-width: 1280px) and (max-height: 600px)
{
.about .image.background
{
	background-position:center 40%;
	-moz-background-size:68%;
	-o-background-size:68%;
	-webkit-background-size:68%;
	background-size:68%
}

}
	@media (max-width: 1024px) and (min-height: 600px)
{
.about .image.background
{
	background-position:center top;
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.about .image.background
{
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
	background-position:center 70%
}

}
.about .span-6
{
	min-width:512px
}
	@media (max-width: 1020px)
{
.about .span-6
{
	min-width:0
}

}
.contact,.smallcontent
{
	min-width:650px
}
	@media (max-width: 1020px)
{
.contact,.smallcontent
{
	width:80%
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.contact,.smallcontent
{
	min-width:0
}

}
.contact ol,.smallcontent ol
{
	list-style:decimal;
	margin-left:20px;
	text-align:left
}
.contact ol li,.smallcontent ol li
{
	margin-bottom:20px
}
.contact.wrapper,.smallcontent.wrapper
{
	width:50%
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.contact.wrapper,.smallcontent.wrapper
{
	width:100%
}

}
.contact h1,.smallcontent h1
{
	border-bottom:1px dotted #fff;
	padding-bottom:10px
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.contact h1,.smallcontent h1
{
	font-size:24px
}

}
.contact .span-7,.contact .span-5,.smallcontent .span-7,.smallcontent .span-5
{
	overflow:hidden
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.contact .span-7,.contact .span-5,.smallcontent .span-7,.smallcontent .span-5
{
	width:100%;
	margin:0
}

}
.contact .span-5 p,.smallcontent .span-5 p
{
	font-size:13px;
	padding-left:20px;
	text-align:left
}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.contact .span-5 p,.smallcontent .span-5 p
{
	text-align:center;
	padding-left:0
}

}
.contact .box,.smallcontent .box
{
	padding:20px 10% 80px;
	text-align:center
}
	@media (max-width: 1020px)
{
.contact .box,.smallcontent .box
{
	padding:20px 10% 80px
}

}
	@media (max-device-width: 480px), screen and (max-width: 480px)
{
.contact .box,.smallcontent .box
{
	padding:20px 20px 80px
}

}
.contact a,.smallcontent a
{
	color:#fff
}
.contact .checkbox,.smallcontent .checkbox
{
	display:block;
	margin-bottom:20px;
	float:left;
	width:100%
}
.contact .checkbox input,.smallcontent .checkbox input
{
	float:left;
	width:20px
}
.contact .checkbox label,.smallcontent .checkbox label
{
	float:left;
	width:260px;
	text-align:left
}
	@media (max-width: 1020px)
{
.contact .checkbox label,.smallcontent .checkbox label
{
	width:90%
}

}
.contact textarea,.smallcontent textarea
{
	height:80px
}
.contact .btn,.smallcontent .btn
{
	line-height:42px;
	width:100%;
	cursor:pointer
}
	@media (max-width: 1020px)
{
.contact form .span-4
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:30.30303%
}

}
.contact .span-12
{
	width:97%
}
.contact .buttons
{
	margin-bottom:0 !important
}
	#contact-form
{
	border-right:1px dotted #fff;
	padding-right:40px
}
	@media (max-width: 1020px)
{
	#contact-form
{
	border-right:none;
	border-bottom:1px dotted #fff;
	padding-bottom:40px;
	margin-bottom:40px;
	padding-right:0
}

}
	/*#3bu1 css*/
.loginBlock{position:absolute;top:20%;left:22%;z-index:10;}
.loginBlockBg{background:#a8ada7;opacity:0.7;width:770px;padding:20px;height:330px;  border-radius: 10px;}
.loginBlockBg img{margin-bottom:10px;width:145px;height:140px;  margin-left: 35px;}
.loginBlockBg dd{font-size:20px;color:#FFF;font-family:"Trebuchet MS";line-height:32px;}
.display-inline-block{display:inline-block;}
.loginBlockBg > div{display:inline-block; width:32.5%;margin-left:20px}
.loginBlockBg > div input, .loginBlockBg label{color:#000;height:30px;line-height:25px;display:inline-block;}
.loginBlockBg label{text-align:left;color:#FFF;padding-right:10px;}
.loginBlockBg button{text-align:center;height:40px;font-size:14px;width:100px;background:#0097cc;color:#fff;}
.clear{clear:both;}
.loginscroll{height: 721px; line-height: 721px; position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1; width: 1280px;background-size:contain;background-position:bottom;}

<!--updated by Radish on 17 July-->
.object-details
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:50%;
	margin:0
}
.img_graph{
	vertical-align:middle;
}
.comp-details
{
	display:inline;
	float:left;
	margin:0 1.51515%;
	width:15.30303%;
	margin:0;
}
.object .box
{
	overflow:visible;
	float:left;
	width:100%
	height:100%;
}

/*.object-details td{padding:20px;vertical-align:bottom;}*/
.object-details h1, .object-details h2, .accrd_prop h3 {padding:0px 0 0 20px;margin:0px;}
h2.subtitle{font-size:16px;}
/*Updated Radish on 19 July 2015*/
.accrd_prop{


outline:none;
color:#FFF;
	margin:10px 0 0px 0 !important;background:#CCC;
}
.outln{
border-bottom:#000;
border-style:solid;
border-width:thick;
}

.object .object-content h3{color:#FFF;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:#616161 !important;
opacity:0.7;}

.contnt table{padding:15px !important;}
.contnt tr{text-align:left !important;vertical-align:top;width:25%;height:30px;line-height:30px;}

h1.title{font-family:Times New Roman;font-weight:normal;}
.accordion-content table{border-bottom:3px solid #e2e2e2;}
.accordion-content table:last-child{border:0;}
.accordion-content table td{vertical-align:top;}
/*.accordion-content table:last-child{border:0px;}*/
.accordion-content table strong{margin:10px 0px;padding:10px 0;font-size:15px;text-decoration:underline;}
.contnt td table td:nth-child(2n):before{content:'';}

.contnt td table td{border-right:1px solid #CCC;padding:0 10px;text-align:center;font-size:14px;}
.accordion-content table b{font-weight:bold;}

