
.signinForm{border:1px solid #90958f;background:#FFF;padding:30px; height:330px; border-radius: 5px;}
.noBorderRadius{
  -webkit-border-radius: inherit !important;
     -moz-border-radius: inherit !important;
          border-radius: inherit !important;
}
.noBorder{border:inherit !important;}
.standardBlue{color:#337ab7;}
.standardBlueBackground{background:#337ab7;color:#FFF;}
.standardBlueBackground:hover{background:#eceff4;color:#337ab7;}
.vcenter {
    
    vertical-align: middle;
}
.noPadding{padding:inherit !important;}
.noMargin{margin:inherit !important;}
.height100{height:100%;}
.contentPanel{height:486px !important;overflow:hidden;width:100%;}
.contentPanel img{width:100%;
height:auto;}
.noBackground{background:inherit !important;}
footer {
      background-color: #00488d;
      color: white;
      padding: 5px;
    }
	.sidenav {
      background-color: #eceff4;
   
    }
	
	.headerBackground{  background-color: #eceff4;}
	.contR {
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 25px;
  color: #414342;
  float:none;
  border-bottom: 5px solid #298bd2;
  line-height: 35px;
}
.floatNone{float:none;}
.ML10{margin-left:10px;}
.ML20{margin-left:20px;}
.MR20{margin-right:20px;}
.MT20{margin-top:20px;}
.MT10{margin-top:10px;}
.MR10{margin-right:10px;}
.MB10{margin-bottom:10px;}
.PB10{padding-bottom:10px;}
.p10{padding:10px;}
.navBarLineHeight{line-height:40px;}
#myModalReg .form-group{margin-bottom: 0px;}
#myModalReg label{color:#337ab7;}
@media (max-width: 768px) {
	.contentPanel{height:auto !important;}
.mainPanel{height:auto;}
.navBarLineHeight{line-height:inherit;}
}

@media (max-width: 480px) {
	.list-group-item a{font-size:15px;color:#414342}
	.navBarLineHeight{line-height:inherit;}
}

